<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livros Disponíveis</title>
</head>
<body>
<h1>Livros Disponíveis para Empréstimo</h1>

<a th:href="@{/livros}">Voltar</a>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Ano</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="livro : ${livros}">
        <td th:text="${livro.id}"></td>
        <td th:text="${livro.titulo}"></td>
        <td th:text="${livro.autor}"></td>
        <td th:text="${livro.anoPublicacao}"></td>
    </tr>
    </tbody>
</table>

<a href="/">Início</a>
</body>
</html>
